{
  "name": "scss",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "app.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../../../../public/css/app.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "app.rtl.scss",
      "imports": [
        "../../../libs/bootstrap/scss/_functions.scss",
        "../../../libs/bootstrap/scss/_variables.scss",
        "../../../libs/bootstrap/scss/_mixins.scss",
        "mixins.scss",
        "variables.scss",
        "../../../libs/bootstrap/scss/mixins/_breakpoints.scss",
        "../../../libs/bootstrap/scss/mixins/_hover.scss",
        "../../../libs/bootstrap/scss/mixins/_image.scss",
        "../../../libs/bootstrap/scss/mixins/_badge.scss",
        "../../../libs/bootstrap/scss/mixins/_resize.scss",
        "../../../libs/bootstrap/scss/mixins/_screen-reader.scss",
        "../../../libs/bootstrap/scss/mixins/_size.scss",
        "../../../libs/bootstrap/scss/mixins/_reset-text.scss",
        "../../../libs/bootstrap/scss/mixins/_text-emphasis.scss",
        "../../../libs/bootstrap/scss/mixins/_text-hide.scss",
        "../../../libs/bootstrap/scss/mixins/_text-truncate.scss",
        "../../../libs/bootstrap/scss/mixins/_visibility.scss",
        "../../../libs/bootstrap/scss/mixins/_alert.scss",
        "../../../libs/bootstrap/scss/mixins/_buttons.scss",
        "../../../libs/bootstrap/scss/mixins/_caret.scss",
        "../../../libs/bootstrap/scss/mixins/_pagination.scss",
        "../../../libs/bootstrap/scss/mixins/_lists.scss",
        "../../../libs/bootstrap/scss/mixins/_list-group.scss",
        "../../../libs/bootstrap/scss/mixins/_nav-divider.scss",
        "../../../libs/bootstrap/scss/mixins/_forms.scss",
        "../../../libs/bootstrap/scss/mixins/_table-row.scss",
        "../../../libs/bootstrap/scss/mixins/_background-variant.scss",
        "../../../libs/bootstrap/scss/mixins/_border-radius.scss",
        "../../../libs/bootstrap/scss/mixins/_box-shadow.scss",
        "../../../libs/bootstrap/scss/mixins/_gradients.scss",
        "../../../libs/bootstrap/scss/mixins/_transition.scss",
        "../../../libs/bootstrap/scss/mixins/_clearfix.scss",
        "../../../libs/bootstrap/scss/mixins/_navbar-align.scss",
        "../../../libs/bootstrap/scss/mixins/_grid-framework.scss",
        "../../../libs/bootstrap/scss/mixins/_grid.scss",
        "../../../libs/bootstrap/scss/mixins/_float.scss"
      ]
    },
    {
      "path": "app.scss",
      "imports": [
        "../../../libs/bootstrap/scss/_functions.scss",
        "../../../libs/bootstrap/scss/_variables.scss",
        "../../../libs/bootstrap/scss/_mixins.scss",
        "mixins.scss",
        "variables.scss",
        "bs.scss",
        "ui.scss",
        "utils.scss",
        "md.scss",
        "../../../libs/bootstrap/scss/mixins/_breakpoints.scss",
        "../../../libs/bootstrap/scss/mixins/_hover.scss",
        "../../../libs/bootstrap/scss/mixins/_image.scss",
        "../../../libs/bootstrap/scss/mixins/_badge.scss",
        "../../../libs/bootstrap/scss/mixins/_resize.scss",
        "../../../libs/bootstrap/scss/mixins/_screen-reader.scss",
        "../../../libs/bootstrap/scss/mixins/_size.scss",
        "../../../libs/bootstrap/scss/mixins/_reset-text.scss",
        "../../../libs/bootstrap/scss/mixins/_text-emphasis.scss",
        "../../../libs/bootstrap/scss/mixins/_text-hide.scss",
        "../../../libs/bootstrap/scss/mixins/_text-truncate.scss",
        "../../../libs/bootstrap/scss/mixins/_visibility.scss",
        "../../../libs/bootstrap/scss/mixins/_alert.scss",
        "../../../libs/bootstrap/scss/mixins/_buttons.scss",
        "../../../libs/bootstrap/scss/mixins/_caret.scss",
        "../../../libs/bootstrap/scss/mixins/_pagination.scss",
        "../../../libs/bootstrap/scss/mixins/_lists.scss",
        "../../../libs/bootstrap/scss/mixins/_list-group.scss",
        "../../../libs/bootstrap/scss/mixins/_nav-divider.scss",
        "../../../libs/bootstrap/scss/mixins/_forms.scss",
        "../../../libs/bootstrap/scss/mixins/_table-row.scss",
        "../../../libs/bootstrap/scss/mixins/_background-variant.scss",
        "../../../libs/bootstrap/scss/mixins/_border-radius.scss",
        "../../../libs/bootstrap/scss/mixins/_box-shadow.scss",
        "../../../libs/bootstrap/scss/mixins/_gradients.scss",
        "../../../libs/bootstrap/scss/mixins/_transition.scss",
        "../../../libs/bootstrap/scss/mixins/_clearfix.scss",
        "../../../libs/bootstrap/scss/mixins/_navbar-align.scss",
        "../../../libs/bootstrap/scss/mixins/_grid-framework.scss",
        "../../../libs/bootstrap/scss/mixins/_grid.scss",
        "../../../libs/bootstrap/scss/mixins/_float.scss",
        "bs.base.scss",
        "bs.badge.scss",
        "bs.button.scss",
        "bs.card.scss",
        "bs.carousel.scss",
        "bs.dropdown.scss",
        "bs.form.scss",
        "bs.list-group.scss",
        "bs.modal.scss",
        "bs.modal.animation.scss",
        "bs.nav.scss",
        "bs.navbar.scss",
        "bs.pagination.scss",
        "bs.popover.scss",
        "bs.progress.scss",
        "bs.row.scss",
        "bs.table.scss",
        "ui.animate.scss",
        "ui.arrow.scss",
        "ui.avatar.scss",
        "ui.box.scss",
        "ui.chat.scss",
        "ui.check.scss",
        "ui.layout.scss",
        "ui.layout.boxed.scss",
        "ui.list.scss",
        "ui.loading.scss",
        "ui.nav.scss",
        "ui.nav.plus.scss",
        "ui.nav.active.scss",
        "ui.icon.scss",
        "ui.item.scss",
        "ui.page.scss",
        "ui.plugin.scss",
        "ui.streamline.scss",
        "ui.switch.scss",
        "ui.timeline.scss",
        "ui.color.dark.scss",
        "ui.color.scss",
        "util.base.scss",
        "util.border.scss",
        "util.hover.scss",
        "util.radius.scss",
        "util.scroll.scss",
        "util.text.scss",
        "util.size.scss",
        "md.btn.scss",
        "md.input.scss",
        "md.check.scss",
        "md.switch.scss",
        "md.color.scss"
      ]
    },
    {
      "path": "bootstrap.scss",
      "imports": [
        "variables.scss"
      ]
    },
    {
      "path": "bs.scss",
      "imports": [
        "bs.base.scss",
        "bs.badge.scss",
        "bs.button.scss",
        "bs.card.scss",
        "bs.carousel.scss",
        "bs.dropdown.scss",
        "bs.form.scss",
        "bs.list-group.scss",
        "bs.modal.scss",
        "bs.modal.animation.scss",
        "bs.nav.scss",
        "bs.navbar.scss",
        "bs.pagination.scss",
        "bs.popover.scss",
        "bs.progress.scss",
        "bs.row.scss",
        "bs.table.scss"
      ]
    },
    {
      "path": "md.scss",
      "imports": [
        "md.btn.scss",
        "md.input.scss",
        "md.check.scss",
        "md.switch.scss",
        "md.color.scss"
      ]
    },
    {
      "path": "ui.scss",
      "imports": [
        "ui.animate.scss",
        "ui.arrow.scss",
        "ui.avatar.scss",
        "ui.box.scss",
        "ui.chat.scss",
        "ui.check.scss",
        "ui.layout.scss",
        "ui.layout.boxed.scss",
        "ui.list.scss",
        "ui.loading.scss",
        "ui.nav.scss",
        "ui.nav.plus.scss",
        "ui.nav.active.scss",
        "ui.icon.scss",
        "ui.item.scss",
        "ui.page.scss",
        "ui.plugin.scss",
        "ui.streamline.scss",
        "ui.switch.scss",
        "ui.timeline.scss",
        "ui.color.dark.scss",
        "ui.color.scss"
      ]
    },
    {
      "path": "utils.scss",
      "imports": [
        "util.base.scss",
        "util.border.scss",
        "util.hover.scss",
        "util.radius.scss",
        "util.scroll.scss",
        "util.text.scss",
        "util.size.scss"
      ]
    },
    {
      "path": "theme/accent.scss",
      "imports": [
        "mixins.theme.scss",
        "variables.scss"
      ]
    },
    {
      "path": "theme/danger.scss",
      "imports": [
        "mixins.theme.scss",
        "variables.scss"
      ]
    },
    {
      "path": "theme/info.scss",
      "imports": [
        "mixins.theme.scss",
        "variables.scss"
      ]
    },
    {
      "path": "theme/primary.scss",
      "imports": [
        "mixins.theme.scss",
        "variables.scss"
      ]
    },
    {
      "path": "theme/success.scss",
      "imports": [
        "mixins.theme.scss",
        "variables.scss"
      ]
    },
    {
      "path": "theme/warn.scss",
      "imports": [
        "mixins.theme.scss",
        "variables.scss"
      ]
    },
    {
      "path": "theme/warning.scss",
      "imports": [
        "mixins.theme.scss",
        "variables.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}